.myself{
    width: 100%;
    height: 500px;
    background: url(./../../../static//image/self.jpg) no-repeat ;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mybtn{
    margin-top: 10px;
   
}
el-button{
    width: 200px;
}
.selfdiv{
   padding-left: 8px;
}